<!-- 关于作者模态框 -->
<div class="modal fade" id="about" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutModalLabel">关于作者</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1>深川，双非菜鸡研究生🤪</h1>
            </div>
        </div>
    </div>
</div>